    <% include parts/header %>

    <body>
      <div class="container">
        <h1>404 Error</h1>
      </div>
     
     
      
       
      <% include parts/main_js %>
      <% include parts/pub %>
      <% include parts/footer %>
