    <% include parts/header %>

    <body>
      
       <div class="container">
        <div class="user_background">
          <div class="user_identity">
            <span class="user_pic">
              <img src="assets/img/yuna.jpg" alt="" class="circle">
              <span class="user_name">Nintcheu Gabriel <a href="#"><i class="material-icons">verified_user</i></a> </span><br>
                <a href="#"><span class="new badge red" data-badge-caption="S'abonner"></span></a>&nbsp;
                <span class="subscriptors">2234</span><br>

                <span class="contact right">
                  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">chat_bubble</i></a>
                  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">call</i></a>
                </span>
            </span>
          </div>
        </div>

        <div>
          <div class="card-panel">
            <p>President de Club <br>Club de Mathématique</p>
            <div class="input-field">
              <select>
                    <option value="" disabled selected>Administrate</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
              </select>
            </div>

          </div>
          
          <center class="all_card">
          </center>
        </div>
      </div>
     
     
      
      <% include parts/main_menu %>
      <% include parts/main_js %>
      <% include parts/pub %>
      <% include parts/user %>
      <% include parts/menu %>
      <% include parts/footer %>
