 <div class="ip_server" ip="<%= ip_server %>" protocol="<%= protocol %>"></div>
    
 <div class="show_suggestion" style="display:none;"><a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">arrow_back</i></a></div>
 <% include menu_top_js %>

 

 </body>
  </html>