<div class="row top">
        <div class="col s2">
          <img src="assets/img/air.png" class="air">
        </div>
        <div class="col s8">
          <input type="text" class="search_list">
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons left">search</i></a>
        </div>
</div>